# PostgreSQL connection
DATABASE_URL=postgresql://user:apppassword@localhost:5432/db-name

# JWT settings
SECRET_KEY=key-here
ALGORITHM=algo-here
ACCESS_TOKEN_EXPIRE_MINUTES=time-here

# CLOUD settings
API_TOKEN=long-string
ACCOUNT_ID=long-string
ACCESS_KEY_ID=long-string
SECRET_ACCESS_KEY=long-string
BUCKET_NAME=bucket-name

# CORS - comma separated list of allowed origins
CORS_ORIGINS=http://localhost:XXXX

# REDIS connection
BROKER_URL=redis://localhost:XXXX/X
